* {
    margin: 0;
}
/* ///////// second branch */

html {
    scroll-behavior: smooth;
    /* text-transform: capitalize; */
    display: grid;
}

h2 {
    color: var(--main-color) !important;
}
 
p {
    margin-bottom: 0;
}

h2::after {
    content: " ";
    display: block;
    width: 100px;
    background-color: var(--main-color);
    height: 3px;
    margin: 0 auto;
    margin-top: 1px;
    
}

:root {
    --main-color: #ea5455;
    --secong-color: #ea7659;
    --main-tran: all 0.5s;
    --main-padding: 6.25rem;
    --box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    --letter-spa: 0.08929em;
}


.main {
    display: grid;
}

/* /////////// Navigation /////////// */
/* ///////////////////////////// */
.navigation {
    background-color: #f8f8f5!important;
    padding: 10px !important;
}
.navbar-nav {
    padding-left: 10px !important;
    /* margin-top: 50px !important; */
    
}

.navbar-nav .nav-link {
    font-size: 20px;
    padding-left: 1.25rem;
    color: var(--main-color) !important;
    margin-right: 3.125rem;
    border-bottom: 3px solid transparent !important;
    transition: var(--main-tran);
}
.nav-item .nav-link {
    box-shadow: 0px 11px 15px -7px transparent, 0px 24px 38px 3px transparent, 0px 9px 46px 8px transparent !important;
    text-shadow: var(--box-shadow) !important;
    text-transform: uppercase;
    letter-spacing: var(--letter-spa) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--secong-color) !important;
    border-bottom: 3px solid var(--secong-color) !important;
    
}

.nav-wrap  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo > img {
    height: 55px;
    width: auto;
    padding-left: 40px;
    border-radius: 50% !important;
}

.navbar-collapse {
    flex-grow: unset !important;
}

.nav-border {
    border-bottom: 4px solid var(--main-color) !important;
}

nav {
    z-index: 2;
    position: -webkit-sticky;
    border-bottom: 2px solid transparent;
}
.navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
  outline: #d92027 !important;
  box-shadow: #d92027 !important;
  border-color: #d92027 !important;
}


/* /////////// Header /////////// */
/* ///////////////////////////// */
.header {
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    position: relative;
}

.welcome {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    /* place-content: center !important; */
    margin-top: 15%;
}
.welcome h1 {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    letter-spacing: var(--letter-spa);
}
.header span {
    text-transform: lowercase !important;
    color: violet;
}


/* /////////// Productos /////////// */
/* ///////////////////////////// */
.showcase-items {
    display: grid;;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

.portofolio-item-wrapper{
    position: relative;
}

.portofolio-img-background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 21.875rem;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
}

.logo-wrapper ion-icon {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    color: #fff;
    font-size: 400%;
}

.img-text-wrapper .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: transparent;
    transition: 1s;
}

.img-text-wrapper:hover .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: var(--main-color) !important;
}


.img-darken {
    transition: 1s;
    filter: brightness(10%);
    justify-content: center;
}

.portofolio-item-wrapper{
    position: relative;
}

.portofolio-img-background {
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.logo-wrapper ion-icon {
    width: 30%;
    margin-bottom: 10px;
}

.icon {
    color: #fff;
    font-size: 400%;
}

.img-text-wrapper .subtitle {
    font-size: 15px;
    font-weight: bold;
    color: transparent;
    transition: 1s;
}

/* //// onScroll class ////// */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


/* ///////portraits///////// */
@media screen and (max-width: 1400px)
and (min-width: 992px) {
    /* body {
        background-color: blue !important;
    } */
    .navigation {
        padding: 10px !important;

    }
    
    .navbar-nav {
        margin-top: 1.225rem !important;
    }
    .navbar-light .navbar-nav .nav-link {
        margin-right: 6.5px;
        font-size: 1rem !important;
    }
    .header {
        height: 110vh;
    }
    .welcome {
        margin-top: 15% !important;
    }
    .welcome h1 {
        font-size: 5.625rem;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.09;
    }
    .btn-contacto {
        position: absolute;
        left: 15px;
        top: 240px;
        background-color: var(--main-color);
        padding: 7px;
        border-radius: 4px;
        letter-spacing: 0.08929em;
        border: 1px solid var(--main-color);
        transition: var(--main-tran);
        box-shadow: var(--box-shadow) !important;
    }
    
    .btn-contacto:hover {
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
    
    a.btn-contacto {
        font-size: 20px;
        text-decoration: none;
        color: whitesmoke;
        /* padding: 5px 20px 5px 20px; */
    }
    .h2-title {
        display: grid;
        grid-template-columns: 1fr;
        /* padding: 20px; */
    }
    .h2-title h2 {
        color: #fff;
        margin: 0 auto;
        padding: 6.75rem;
    }
    .showcase-items {
        display: grid;;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .portofolio-img-background {
        height: 250px !important;
    }

    .comienzos-par {
        color: var(--secong-color);
        text-align: center;
        background-color: #f8f8f5;
        padding: 40px;
        margin-bottom: 4rem;
    }

    footer {
        display: grid;
        padding: 20px;
        background-color: var(--main-color);
    }
    
    .contacto ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .contacto li {
        text-decoration: none;
        list-style-type: none;
    }
    .contacto li a {
        color: #333;
        font-size: 0.8125rem;
        padding: 10px;
    }
    
    .footer-links ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .footer-links li{
        list-style-type: none;
        padding: 10px;
    }
    .social-icon {
        font-size: 100%;
        color: var(--main-color);
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 15%;
        transition: var(--main-tran);
        box-shadow: var(--box-shadow);
    }
    
    .social-icon:hover {
        color: white;
        background-color: var(--main-color);
    }
    .jorge-link {
        display: grid;
        place-content: center;
        background-color: #ccc;
    }
    .jorge-link p {
        font-size: 10px;
        padding: 8px;
    }
    
}

@media screen and (max-width: 991px)
and (min-width: 820px) {
    body {
        background-color: green !important;
    }
    .navigation {
        padding: 20px !important;
    }
    
    .navbar-nav {
        padding-left: 10px !important;
        margin-top: 4.225rem !important;
    }
    .header {
        height: 110vh;
    }
    .welcome {
        margin-top: 24% !important;
    }
    .welcome h1 {
        font-size: 4.6875rem;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.01;
    }
    .btn-contacto {
        position: absolute;
        left: 15px;
        top: 12.1875rem;
        background-color: var(--main-color);
        padding: 7px;
        border-radius: 4px;
        letter-spacing: 0.08929em;
        border: 1px solid var(--main-color);
        transition: var(--main-tran);
        box-shadow: var(--box-shadow) !important;
    }
    
    .btn-contacto:hover {
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
    
    a.btn-contacto {
        font-size: 20px;
        text-decoration: none;
        color: whitesmoke;
        /* padding: 5px 20px 5px 20px; */
    }
    .h2-title {
        display: grid;
        grid-template-columns: 1fr;
        /* padding: 20px; */
    }
    .h2-title h2 {
        color: #fff;
        margin: 0 auto;
        padding: 6.75rem;
    }
    .showcase-items {
        display: grid;;
        grid-template-columns: 1fr 1fr;
    }
    .portofolio-img-background {
        height: 250px !important;
    }

    .comienzos-par {
        color: var(--secong-color);
        text-align: center;
        background-color: #f8f8f5;
        padding: 40px;
        margin-bottom: 4rem;
    }

    footer {
        display: grid;
        padding: 20px;
        background-color: var(--main-color);
    }
    
    .contacto ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .contacto li {
        text-decoration: none;
        list-style-type: none;
    }
    .contacto li a {
        color: #333;
        font-size: 0.8125rem;
        padding: 10px;
    }
    
    .footer-links ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .footer-links li{
        list-style-type: none;
        padding: 10px;
    }
    .social-icon {
        font-size: 100%;
        color: var(--main-color);
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 15%;
        transition: var(--main-tran);
        box-shadow: var(--box-shadow);
    }
    
    .social-icon:hover {
        color: white;
        background-color: var(--main-color);
    }
    .jorge-link {
        display: grid;
        place-content: center;
        background-color: #ccc;
    }
    .jorge-link p {
        font-size: 10px;
        padding: 8px;
    }
    
}







/* /////////////////////////// */
@media screen and (max-width: 819px)
and (min-width: 768px) {
    /* body {
        background-color: red !important;
    } */
    .navigation {
        padding: 20px !important;
    }
    
    .navbar-nav {
        padding-left: 10px !important;
        margin-top: 4.225rem !important;
    }
    .header {
        height: 150vh;
    }
    .welcome {
        margin-top: 25% !important;
    }
    .welcome h1 {
        font-size: 80px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.01;
    }
     .btn-contacto {
        position: absolute;
        left: 15px;
        top: 225px;
        background-color: var(--main-color);
        padding: 7px;
        border-radius: 4px;
        letter-spacing: 0.08929em;
        border: 1px solid var(--main-color);
        transition: var(--main-tran);
        box-shadow: var(--box-shadow) !important;
    } 
    
    .btn-contacto:hover {
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
    
    a.btn-contacto {
        font-size: 20px;
        text-decoration: none;
        color: whitesmoke;
    }
    .h2-title {
        display: grid;
        grid-template-columns: 1fr;
    }
    .h2-title h2 {
        color: #fff;
        margin: 0 auto;
        padding: 6.75rem;
    }
    .showcase-items {
        display: grid;;
        grid-template-columns: 1fr 1fr;
    }
    .portofolio-img-background {
        height: 250px !important;
    }

    .comienzos-par {
        color: var(--secong-color);
        text-align: center;
        background-color: #f8f8f5;
        padding: 40px;
        margin-bottom: 4rem;
    }

    footer {
        display: grid;
        padding: 20px;
        background-color: var(--main-color);
    }
    
    .contacto ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .contacto li {
        text-decoration: none;
        list-style-type: none;
    }
    .contacto li a {
        color: #333;
        font-size: 0.8125rem;
        padding: 10px;
    }
    
    .footer-links ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .footer-links li{
        list-style-type: none;
        padding: 10px;
    }
    .social-icon {
        font-size: 100%;
        color: var(--main-color);
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 15%;
        transition: var(--main-tran);
        box-shadow: var(--box-shadow);
    }
    
    .social-icon:hover {
        color: white;
        background-color: var(--main-color);
    }
    .jorge-link {
        display: grid;
        place-content: center;
        background-color: #ccc;
    }
    .jorge-link p {
        font-size: 10px;
        padding: 8px;
    }
    
}
@media screen and (max-width: 768px)
and (min-width: 701px) {
    /* body {
        background-color: pink !important;
    } */
    .navigation {
        padding: 20px !important;
    }
    .navbar-nav {
        padding-left: 10px !important;
        margin-top: 5.225rem !important;
    }

    .welcome {
        margin-top: 25% !important;
    }

    .header {
        height: 120vh;
    }
    .welcome h1 {
        font-size: 5rem;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.01;
    }
    .btn-contacto {
        position: absolute;
        left: 15px;
        top: 235px;
        background-color: var(--main-color);
        padding: 10px;
        border-radius: 4px;
        letter-spacing: 0.08929em;
        border: 1px solid var(--main-color);
        transition: var(--main-tran);
        box-shadow: var(--box-shadow) !important;
    }
    
    .btn-contacto:hover {
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
    
    a.btn-contacto {
        font-size: 20px;
        text-decoration: none;
        color: whitesmoke;
    }
    .h2-title {
        display: grid;
        grid-template-columns: 1fr;
    }
    .h2-title h2 {
        color: #fff;
        margin: 0 auto;
        padding: 4.75rem;
        font-size: 25px;
    }
    .showcase-items {
        display: grid;;
        grid-template-columns: 1fr 1fr;
    }
    .portofolio-img-background {
        height: 250px !important;
    }

    .comienzos-par {
        color: var(--secong-color);
        text-align: center;
        background-color: #f8f8f5;
        padding: 40px;
        margin-bottom: 4rem;
    }

    footer {
        display: grid;
        padding: 20px;
        background-color: var(--main-color);
    }
    
    .contacto ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .contacto li {
        text-decoration: none;
        list-style-type: none;
    }
    .contacto li a {
        color: #333;
        font-size: 0.8125rem;
        padding: 10px;
    }
    
    .footer-links ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .footer-links li{
        list-style-type: none;
        padding: 10px;
    }
    .social-icon {
        font-size: 100%;
        color: var(--main-color);
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 15%;
        transition: var(--main-tran);
        box-shadow: var(--box-shadow);
    }
    
    .social-icon:hover {
        color: white;
        background-color: var(--main-color);
    }
    .jorge-link {
        display: grid;
        place-content: center;
        background-color: #ccc;
    }
    .jorge-link p {
        font-size: 12px;
        padding: 5px;
    }
}

@media screen and (max-width: 700px)
and (min-width: 598px) 
{
    /* body {
        background-color: black !important;
    } */
    
    .navigation {
        padding: 20px !important;
    }
    .navbar-nav {
        padding-left: 10px !important;
        margin-top: 5.225rem !important;
    }

    .header {
        height: 120vh;
    }

    .welcome {
        margin-top: 35% !important;
    }
    .welcome h1 {
        font-size: 4rem;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.01;
    }
    .btn-contacto {
        position: absolute;
        left: 15px;
        top: 190px;
        background-color: var(--main-color);
        padding: 8px;
        border-radius: 4px;
        letter-spacing: 0.08929em;
        border: 1px solid var(--main-color);
        transition: var(--main-tran);
        box-shadow: var(--box-shadow) !important;
    }
    
    .btn-contacto:hover {
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
    
    a.btn-contacto {
        font-size: 15px;
        text-decoration: none;
        color: whitesmoke;
    }
    .h2-title {
        display: grid;
        grid-template-columns: 1fr;
    }
    .h2-title h2 {
        color: #fff;
        margin: 0 auto;
        padding: 4.75rem;
        font-size: 25px;
    }
    .showcase-items {
        display: grid;;
        grid-template-columns: 1fr 1fr;
    }
    .portofolio-img-background {
        height: 250px !important;
    }

    .comienzos-par {
        color: var(--secong-color);
        text-align: center;
        background-color: #f8f8f5;
        padding: 40px;
        margin-bottom: 4rem;
    }

    footer {
        display: grid;
        padding: 20px;
        background-color: var(--main-color);
    }
    
    .contacto ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .contacto li {
        text-decoration: none;
        list-style-type: none;
    }
    .contacto li a {
        color: #333;
        font-size: 0.8125rem;
        padding: 10px;
    }
    
    .footer-links ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .footer-links li{
        list-style-type: none;
        padding: 10px;
    }
    .social-icon {
        font-size: 100%;
        color: var(--main-color);
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 15%;
        transition: var(--main-tran);
        box-shadow: var(--box-shadow);
    }
    
    .social-icon:hover {
        color: white;
        background-color: var(--main-color);
    }
    .jorge-link {
        display: grid;
        place-content: center;
        background-color: #ccc;
    }
    .jorge-link p {
        font-size: 12px;
        padding: 5px;
    }
}

@media screen and (max-width:597px)
 {
    /* body {
        background-color: tomato !important;
    } */
    .navigation {
        /* background-color: #f8f8f5!important; */
        padding: 20px !important;
    }
    .navbar-nav {
        padding-left: 10px !important;
        margin-top: 5.225rem !important;
    }

    .welcome {
        margin-top: 40% !important;
    }
    .header {
        height: 110vh;
    }
    .welcome h1 {
        font-size: 50px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.01;
    }
    .btn-contacto {
        position: absolute;
        left: 40px;
        top: 140px;
        background-color: var(--main-color);
        padding: 5px;
        border-radius: 4px;
        letter-spacing: 0.08929em;
        border: 1px solid var(--main-color);
        transition: var(--main-tran);
        box-shadow: var(--box-shadow) !important;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        padding-left: 40px;
    }
    
    .btn-contacto:hover {
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
    
    a.btn-contacto {
        font-size: 18px;
        text-decoration: none;
        color: whitesmoke;
    }
    .h2-title {
        display: grid;
        grid-template-columns: 1fr;
    }
    .h2-title h2 {
        font-size: 20px;
        color: #fff;
        margin: 0 auto;
        padding: 3.75rem;
    }
    .showcase-items {
        display: grid;;
        grid-template-columns: 1fr 1fr;
    }
    .portofolio-img-background {
        height: 250px !important;
    }

    .comienzos-par {
        font-size: 14px;
        color: var(--secong-color);
        text-align: center;
        background-color: #f8f8f5;
        padding: 40px;
        margin-bottom: 4rem;
    }

    footer {
        display: grid;
        padding: 20px;
        background-color: var(--main-color);
    }
    
    .contacto ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .contacto li {
        text-decoration: none;
        list-style-type: none;
    }
    .contacto li a {
        color: #333;
        font-size: 0.8125rem;
        padding: 10px;
    }
    
    .footer-links ul {
        display: flex;
        place-content: center;
        text-decoration: none;
    }
    .footer-links li{
        list-style-type: none;
        padding: 10px;
    }
    .social-icon {
        font-size: 100%;
        color: var(--main-color);
        background-color: whitesmoke;
        padding: 10px;
        border-radius: 15%;
        transition: var(--main-tran);
        box-shadow: var(--box-shadow);
    }
    
    .social-icon:hover {
        color: white;
        background-color: var(--main-color);
    }
    .jorge-link {
        display: grid;
        place-content: center;
        background-color: #ccc;
    }
    .jorge-link p {
        font-size: 10px;
        padding: 5px;
    }
}





@media screen and (max-width:900px)
and (min-width:320px)
 {
    .navbar-nav .nav-link {
        
        border-bottom: none !important;
        
    }

    .navbar-nav .nav-link:hover {
       
        border-bottom: none !important;
        
    }
    .welcome {
        margin-top: 50% !important;
    }
    .header {
        height: 70vh;
    }
    .welcome h1 {
        font-size: 50px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.01;
    }
    .contacto ul {
        display: inline-block;
        position: relative;
        left: 50px;
    }
}

@media screen and (max-width:320px) {
    /* body {
        background-color: violet !important;
    } */
    .header {
        height: 110vh;
    }
    .welcome {
        margin-top: 50% !important;
    }
}






  